.sidebarwrapper h2 {
    font-size: 1.2rem;
    padding: 0 1.5rem;
    font-weight: 400;
}

.sidebarwrapper ul {
    padding: 0;
    font-size: 0.875rem;
    color: hsla(240, 4%, 46%, 1);
}

.sidebarwrapper a {
    height: 2.813rem;
    padding: 0 4rem;
    color: hsla(240, 4%, 46%, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebarwrapper a:hover,
.sidebarwrapper a:active {
    background-color: #fafafa;
    color: hsla(25, 95%, 53%, 1);
    font-weight: 500;
}

.sidebarwrapper .active,
.sidebarwrapper .active a {
    background-color: #fafafa;
    color: hsla(25, 95%, 53%, 1);
    font-weight: 500;
}
